**
!src/
!src/*.cpp
!include/
!include/*.h
!CMakeLists.txt
!.gitignore
!.vscode/
!.vscode/*
!draw.gp
!outPutForDraw.txt
!inputData.txt
!README.md
!autograd.png
!backward.png
!scatter_plot.png
!LICENSE